# Programming for Data Analysis - Project 1

**Ciaran Moran**

***

In [1]:
import matplotlib.pyplot as plt 
import csv
import pandas as pd

**Data File dly532.csv**

This is a real world time series data csv file available for download from met.ie.

It represents the historical weather in Ireland from 1942 through to Sep 2023.

The various data fields are explained in the first 25 lines of the dly532.csv file.

I have manually removed the the first 25 non data lines from the start of the file dly532.csv 
and copied the data to file ***dly532-non-data-removed.csv***.

The removed lines can be seen in the original file dly532.csv.


The main columns of data I will be looking at are:-
- date:   -  00 to 00 utc
- rain:   -  Precipitation Amount (mm)
- maxtp:  -  Maximum Air Temperature (C)	  
- mintp:  -  Minimum  Air Temperature (C)
- hg:     -  Highest Gust (knot)
- sun:    -  Sunshine duration (hours)

From this real world data the min and max values can be extrapolated.
Random data can then be synthesised based these real world min/max values.

***Initial csv data load***

A sample of the data will be displayed.

This will be the header, first 5 rows of data and also the last 5 rows of data. 

Finally a count of rows and columns will be diplayed.

For this dataset there are 29858 rows Ã— 26 columns.

In [10]:
 
df = pd.read_csv('Research_Data/dly532/dly532-non-data-removed.csv')

display(df)

,date,ind,maxtp,ind.1,mintp,igmin,gmin,ind.2,rain,cbl,...,hg,sun,dos,g_rad,soil,pe,evap,smd_wd,smd_md,smd_pd
0,01-jan-1942,0,9.7,0,6.8,0,4.7,2,0.0,1020.3,...,,0.0,0,,,1.1,1.4,,,
1,02-jan-1942,0,9.9,0,7.9,0,6.7,0,0.1,1016.2,...,,0.0,0,,,0.7,0.9,,,
2,03-jan-1942,0,11.2,0,8.9,0,7.2,0,1.5,1006.8,...,,0.1,0,,,0.5,0.6,,,
3,04-jan-1942,0,9.2,0,2.7,0,3.4,0,3.5,1001.5,...,,0.6,0,,,0.6,0.7,,,
4,05-jan-1942,0,3.5,1,-0.8,0,0.0,0,0.6,1013.4,...,,3.4,0,,,0.6,0.7,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29853,26-sep-2023,0,17.5,0,10.0,0,10.7,0,3.2,1000.1,...,24,4.1,0,954,14.100,1.5,2.1,4.5,4.5,-3.4
29854,27-sep-2023,0,16.5,0,10.0,0,5.7,0,15.0,989.8,...,47,0.4,0,245,13.200,1.0,1.4,0.0,-9.6,-10.0
29855,28-sep-2023,0,15.5,0,10.5,0,9.7,0,1.4,994.0,...,37,0.0,0,294,12.900,1.2,1.5,0.0,-0.2,-9.7
29856,29-sep-2023,0,16.4,0,10.1,0,7.5,0,0.3,1005.5,...,24,8.9,0,1203,12.475,1.5,2.1,1.2,1.2,-8.1
29857,30-sep-2023,0,17.5,0,7.8,0,2.7,0,11.1,1007.0,...,25,0.0,0,173,12.075,0.7,1.0,0.0,-9.2,-10.0

***

## End