# Programming for Data Analysis - Project 1

**Ciaran Moran**

***

**Standard imports**

In [1]:
import matplotlib.pyplot as plt 
import csv
import pandas as pd

***Define some global variables***

In [2]:
#mthMin=[]
#mthMax=[]
#mth=""

**Data File dly532.csv**

This is a real world time series data csv file available for download from met.ie.

It represents the historical weather in Ireland from 1942 through to Sep 2023.

The various data fields are explained in the first 25 lines of the dly532.csv file.

I have manually removed the the first 25 non data lines from the start of the file dly532.csv 
and copied the data to file ***dly532-non-data-removed.csv***.

The removed lines can be seen in the original file dly532.csv.


The main columns of data I will be looking at are:-
- date:   -  00 to 00 utc
- rain:   -  Precipitation Amount (mm)
- maxtp:  -  Maximum Air Temperature (C)	  
- mintp:  -  Minimum  Air Temperature (C)
- hg:     -  Highest Gust (knot)
- sun:    -  Sunshine duration (hours)

From this real world data the min and max values can be extrapolated.
Random data can then be synthesised based these real world min/max values.

***Initial csv data load***

A sample of the data will be displayed.

This will be the header, first 5 rows of data and also the last 5 rows of data. 

Finally a count of rows and columns will be diplayed.

For this dataset there are 29858 rows × 26 columns.

In [3]:
# Read in csv file and select columns for obtaining max/min data 
# full data set
df = pd.read_csv('Research_Data/dly532/dly532-non-data-removed.csv', usecols = ['date','maxtp','mintp','rain','sun'])
#rain data set
df_rain = pd.read_csv('Research_Data/dly532/dly532-non-data-removed.csv', usecols = ['date','rain'])
#max temp data set
df_maxtp = pd.read_csv('Research_Data/dly532/dly532-non-data-removed.csv', usecols = ['date','maxtp']) 
#min temp data set
df_mintp = pd.read_csv('Research_Data/dly532/dly532-non-data-removed.csv', usecols = ['date','mintp']) 
#daily hours of sun dataset
df_sun = pd.read_csv('Research_Data/dly532/dly532-non-data-removed.csv', usecols = ['date','sun']) 
#new data table with months, variable, and min and max values
df_new=pd.DataFrame(columns=["month","tempmax","tempmin","rainmax","rainmin","sunmax","sunmin"])

print("df >>>>>>>>>>")
display(df) 
df_new.describe

df >>>>>>>>>>

              date  maxtp  mintp  rain  sun
0      01-jan-1942    9.7    6.8   0.0  0.0
1      02-jan-1942    9.9    7.9   0.1  0.0
2      03-jan-1942   11.2    8.9   1.5  0.1
3      04-jan-1942    9.2    2.7   3.5  0.6
4      05-jan-1942    3.5   -0.8   0.6  3.4
...            ...    ...    ...   ...  ...
29853  26-sep-2023   17.5   10.0   3.2  4.1
29854  27-sep-2023   16.5   10.0  15.0  0.4
29855  28-sep-2023   15.5   10.5   1.4  0.0
29856  29-sep-2023   16.4   10.1   0.3  8.9
29857  30-sep-2023   17.5    7.8  11.1  0.0

[29858 rows x 5 columns]

<bound method NDFrame.describe of Empty DataFrame
Columns: [month, tempmax, tempmin, rainmax, rainmin, sunmax, sunmin]
Index: []>

***Get the Max and Min values of the temp per month***

Re-using modified code based on the following websites 

https://stackoverflow.com/questions/31391275/using-like-inside-pandas-query

https://www.w3schools.com/python/python_functions.asp

***Functions***

Using modified code from websites

https://www.w3schools.com/python/python_functions.asp

https://docs.python.org/3/tutorial/controlflow.html

https://stackoverflow.com/questions/27975069/how-to-filter-rows-containing-a-string-pattern-from-a-pandas-dataframe

https://vitalflux.com/pandas-dataframe-how-to-add-rows-columns/

In [4]:
def funGetMonthMinMax(x):
  #global mth
  
 # print("********************MATCHING ON X>",x)
  match x:
    case 1:
      mth="jan"
    case 2:
      mth="feb"
    case 3:
      mth="mar"
    case 4:
      mth="apr"
    case 5:
      mth="may"
    case 6:
      mth="jun"
    case 7:
      mth="jul"
    case 8:
      mth="aug"
    case 9:
      mth="sep"
    case 10:
      mth="oct"
    case 11:
      mth="nov"
    case 12:
      mth="jan"
  
  # Create new dataset for just the month
  dftemp=df[df["date"].str.contains(mth)]
  dftemp.describe()
  #print(dftemp)

  # now set the min and max variables
  #tempmax=""
  #tempmin=""
  #rainmax=""
  #rainmin=""
  #sunmax=""
  #sunmin=""
  #print("tempmax:", tempmax)
  #print("tempmin:",tempmin)
  #print("rainmax:",rainmax)
  #print("rainmin:",rainmin)
  #print("sunmax:",sunmax)
  #print("sunmin:",sunmin)
  

  tempmax=dftemp[['maxtp']].max()
  tempmin=dftemp[['mintp']].min()
  rainmax=dftemp[['rain']].max()
  rainmin=dftemp[['rain']].min()
  sunmax=dftemp[['sun']].max()
  sunmin=dftemp[['sun']].min()
  

  #print("tempmax:", tempmax)
  #print("tempmin:",tempmin)
  #print("rainmax:",rainmax)
  #print("rainmin:",rainmin)
  #print("sunmax:",sunmax)
  #print("sunmin:",sunmin)
  
  new_row = {'month': mth, 'tempmax': tempmax, 'tempmin': tempmin, 'rainmax': rainmax, \
             'rainmin': rainmin,'sunmax': sunmax, 'summin': sunmin,}
  # Use the loc method to add the new row to the DataFrame
  #print("new_row: ", new_row)
  df_new.loc[len(df_new)] = new_row

Using code referenced from these websites

https://www.w3schools.com/python/python_for_loops.asp

In [5]:
#FINDING MAX AND MIN
#df2=df.query('date.str.contains("jan")')
#print(df2)

#Loop for each month of the year, and find/set the min and max temp
# here range (1,13)actually means 1-12 i.e. the count stops at 13 and 13 isn't included
for x in range(1,13):
    funGetMonthMinMax(x)
#print used for checking min/max
#for x in range(0,12):
#    print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>",x, "mthMin>", mthMin[x]," mthMax>",mthMax[x])
#print(df_new)

***

## End