# Programming for Data Analysis - Project 2

**Ciaran Moran**

***

**Standard imports**

In [403]:
# receiving some user wraning messages, so i found this to prevent them being displayed
# https://stackoverflow.com/questions/9134795/how-to-get-rid-of-specific-warning-messages-in-python-while-keeping-all-other-wa
import warnings
warnings.simplefilter("ignore", category=Warning)

# Imports
import matplotlib.pyplot as plt 
import random
import datetime
import pandas as pd 
import seaborn as sns
import numpy as np
import os

## Open the .csv files
#### We can skip the first X rows in the csv as they are not pure data columns
#### Initially received the error "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xfc in position 33: invalid start byte"
####
#### Looking online I tried various suggestions from 
#### https://stackoverflow.com/questions/22216076/unicodedecodeerror-utf8-codec-cant-decode-byte-0xa5-in-position-0-invalid-s
####
#### The working solution appears to be encoding='unicode_escape'
####
#### The next issue was rows with all Nan values, which may cause issues later on.
#### For this I tried keep_default_na=False and also skip_blank_lines=True from 
#### https://stackoverflow.com/questions/39297878/how-to-skip-an-unknown-number-of-empty-lines-before-header-on-pandas-read-csv

### Data standardisation

##### File: 41586_2008_BFnature06949_MOESM31_ESM.csv

Here I attempt to standardise the data.

The initial issue is that we have 2 sets of data side by side.

So I extract the data for University of Berlin into a seperate dataframe.

Then I extract the data for LGGE in Grenoble into its own dataframe.

I then rename the column titles to match those of University of Berlin.

Then the dataframes are concatinated together into one dataframe.

The result is a .csv with the data listed in a more consistant order.

In [404]:
# Here we read in 41586_2008_BFnature06949_MOESM31_ESM.csv
#
df = pd.read_csv('data/41586_2008_BFnature06949_MOESM31_ESM.csv', \
                 skiprows=6, encoding='unicode_escape',  skip_blank_lines=True, keep_default_na=False)

####################
# University of Bern
####################
# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
moesm31_1 = df.iloc[0:247, 0:4] # This will copy columns 0 to 3, for rows 0-246 
#Now add in some constants to standardise the data frame
moesm31_1['station'] = 'moesm31'
moesm31_1['uni'] = 'University of Bern'

# Insert new column in position
moesm31_1.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file

print('--------------------------')
print('moesm31_1 - head and tail')
print('--------------------------')
print(moesm31_1.head())
print(moesm31_1.tail())

save_filename = 'data/moesm31_1.csv'
if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
moesm31_1.to_csv(save_filename, index=False)

print(moesm31_1.tail())

###################
# LGGE in Grenoble
###################
moesm31_2 = df.iloc[0:47, 4:7] # This will give you all rows for columns 4 to 6

print(moesm31_2.head())
# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
moesm31_2.rename(columns={'Depth (m).1': 'Depth (m)', 'EDC3_gas_a (yr).1': 'EDC3_gas_a (yr)', \
                   'CO2 (ppmv).1': 'CO2 (ppmv)' }, inplace=True)
print(moesm31_2.head())

#Now add in some constants to standardise the data frame
moesm31_2['sigma (ppmv)'] = '' # this data isn't present
moesm31_2['station'] = 'moesm31'
moesm31_2['uni'] = 'LGGE in Grenoble'

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
moesm31_2.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		
print('--------------------------')
print('moesm31_2 - head and tail')
print('--------------------------')
print(moesm31_2.head())
print(moesm31_2.tail())

save_filename = 'data/moesm31_2.csv'
if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
moesm31_2.to_csv(save_filename, index=False)

--------------------------
moesm31_1 - head and tail
--------------------------
  Depth (m) EDC3_gas_a (yr) Gasage (AICC2012, yr BP) CO2 (ppmv) sigma (ppmv)  \
0   3026.58          611269                               257.8          2.1
1   3030.97          616164                               252.6          0.6
2   3036.44          623109                               243.3          2.8
3   3040.87          630183                               204.4          0.9
4   3043.07          635364                               195.0          1.5

   station                 uni
0  moesm31  University of Bern
1  moesm31  University of Bern
2  moesm31  University of Bern
3  moesm31  University of Bern
4  moesm31  University of Bern
    Depth (m) EDC3_gas_a (yr) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
242   3187.87          794608                               199.4
243   3188.23          795202                               195.2
244   3188.98          796467                               189.3
245   3189.33          797099                               188.4
246   3190.08          798512                               191.0

    sigma (ppmv)  station                 uni
242          1.7  moesm31  University of Bern
243          2.0  moesm31  University of Bern
244          2.1  moesm31  University of Bern
245          1.4  moesm31  University of Bern
246          2.2  moesm31  University of Bern
    Depth (m) EDC3_gas_a (yr) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
242   3187.87          794608                               199.4
243   3188.23          795202                               195.2
244   3188.98          796467                               189.3
245   3189.33          797099                               188.4
246   3190.08          798512                               191.0

    sigma (ppmv)  station                 uni
242          1.7  moesm31  University of Bern
243          2.0  moesm31  University of Bern
244          2.1  moesm31  University of Bern
245          1.4  moesm31  University of Bern
246          2.2  moesm31  University of Bern
  Depth (m).1 EDC3_gas_a (yr).1 CO2 (ppmv).1
0     3061.71            667435        178.5
1     3063.98            670124        189.0
2     3085.78            688035        234.0
3     3086.88            688751        235.4
4     3087.98            689444        241.0
  Depth (m) EDC3_gas_a (yr) CO2 (ppmv)
0   3061.71          667435      178.5
1   3063.98          670124      189.0
2   3085.78          688035      234.0
3   3086.88          688751      235.4
4   3087.98          689444      241.0
--------------------------
moesm31_2 - head and tail
--------------------------
  Depth (m) EDC3_gas_a (yr) Gasage (AICC2012, yr BP) CO2 (ppmv) sigma (ppmv)  \
0   3061.71          667435                               178.5
1   3063.98          670124                               189.0
2   3085.78          688035                               234.0
3   3086.88          688751                               235.4
4   3087.98          689444                               241.0

   station               uni
0  moesm31  LGGE in Grenoble
1  moesm31  LGGE in Grenoble
2  moesm31  LGGE in Grenoble
3  moesm31  LGGE in Grenoble
4  moesm31  LGGE in Grenoble
   Depth (m) EDC3_gas_a (yr) Gasage (AICC2012, yr BP) CO2 (ppmv) sigma (ppmv)  \
42   3183.68          789126                               239.3
43   3185.88          791767                               217.3
44   3186.98          793255                               224.2
45   3188.08          794949                               206.7
46   3190.28          798893                               193.6

    station               uni
42  moesm31  LGGE in Grenoble
43  moesm31  LGGE in Grenoble
44  moesm31  LGGE in Grenoble
45  moesm31  LGGE in Grenoble
46  moesm31  LGGE in Grenoble

### Now we concatinate both files into one standard format

In [405]:
# We can append (concat) both of the new .csv files  
# Ref: https://www.usepandas.com/csv/append-csv-files
moesm31_combined=pd.concat([moesm31_1, moesm31_2])
# Now add in the source file name, may come in handy later on
moesm31_combined['source file'] = '41586_2008_BFnature06949_MOESM31_ESM.csv'

# write out to csv, may not be necessary, but handy for checking data
save_filename = 'data/moesm31_combined.csv'
if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
moesm31_combined.to_csv(save_filename, index=False)

print(moesm31_combined.head)
print(moesm31_combined.tail)

<bound method NDFrame.head of    Depth (m) EDC3_gas_a (yr) Gasage (AICC2012, yr BP) CO2 (ppmv) sigma (ppmv)  \
0    3026.58          611269                               257.8          2.1
1    3030.97          616164                               252.6          0.6
2    3036.44          623109                               243.3          2.8
3    3040.87          630183                               204.4          0.9
4    3043.07          635364                               195.0          1.5
..       ...             ...                      ...        ...          ...
42   3183.68          789126                               239.3
43   3185.88          791767                               217.3
44   3186.98          793255                               224.2
45   3188.08          794949                               206.7
46   3190.28          798893                               193.6

    station                 uni                               source file
0   moesm31  University of Bern  41586_2008_BFnature06949_MOESM31_ESM.csv
1   moesm31  University of Bern  41586_2008_BFnature06949_MOESM31_ESM.csv
2   moesm31  University of Bern  41586_2008_BFnature06949_MOESM31_ESM.csv
3   moesm31  University of Bern  41586_2008_BFnature06949_MOESM31_ESM.csv
4   moesm31  University of Bern  41586_2008_BFnature06949_MOESM31_ESM.csv
..      ...                 ...                                       ...
42  moesm31    LGGE in Grenoble  41586_2008_BFnature06949_MOESM31_ESM.csv
43  moesm31    LGGE in Grenoble  41586_2008_BFnature06949_MOESM31_ESM.csv
44  moesm31    LGGE in Grenoble  41586_2008_BFnature06949_MOESM31_ESM.csv
45  moesm31    LGGE in Grenoble  41586_2008_BFnature06949_MOESM31_ESM.csv
46  moesm31    LGGE in Grenoble  41586_2008_BFnature06949_MOESM31_ESM.csv

[294 rows x 8 columns]>
<bound method NDFrame.tail of    Depth (m) EDC3_gas_a (yr) Gasage (AICC2012, yr BP) CO2 (ppmv) sigma (ppmv)  \
0    3026.58          611269                               257.8          2.1
1    3030.97          616164                               252.6          0.6
2    3036.44          623109                               243.3          2.8
3    3040.87          630183                               204.4          0.9
4    3043.07          635364                               195.0          1.5
..       ...             ...                      ...        ...          ...
42   3183.68          789126                               239.3
43   3185.88          791767                               217.3
44   3186.98          793255                               224.2
45   3188.08          794949                               206.7
46   3190.28          798893                               193.6

    station                 uni                               source file
0   moesm31  University of Bern  41586_2008_BFnature06949_MOESM31_ESM.csv
1   moesm31  University of Bern  41586_2008_BFnature06949_MOESM31_ESM.csv
2   moesm31  University of Bern  41586_2008_BFnature06949_MOESM31_ESM.csv
3   moesm31  University of Bern  41586_2008_BFnature06949_MOESM31_ESM.csv
4   moesm31  University of Bern  41586_2008_BFnature06949_MOESM31_ESM.csv
..      ...                 ...                                       ...
42  moesm31    LGGE in Grenoble  41586_2008_BFnature06949_MOESM31_ESM.csv
43  moesm31    LGGE in Grenoble  41586_2008_BFnature06949_MOESM31_ESM.csv
44  moesm31    LGGE in Grenoble  41586_2008_BFnature06949_MOESM31_ESM.csv
45  moesm31    LGGE in Grenoble  41586_2008_BFnature06949_MOESM31_ESM.csv
46  moesm31    LGGE in Grenoble  41586_2008_BFnature06949_MOESM31_ESM.csv

[294 rows x 8 columns]>

### File data/grl52461-sup-0003-supplementary.csv

#### Now we process the larger of the two files.
#### I can re-use some of the code I created for the smaller file.
#### Also the lessons learned and knowledge garnered for the smaller file will be invaluable.

***
##  Read in supplementary file grl52461-sup-0003-supplementary.csv

In [406]:
#
# Here we read in grl52461-sup-0003-supplementary.csv
#
df = pd.read_csv('data/grl52461-sup-0003-supplementary.csv', \
                 skiprows=6, encoding='unicode_escape',  skip_blank_lines=True, keep_default_na=False)

***
##  supplementary.csv - Dome C - University of Bern

In [407]:
#########################################
# supplementary.csv - University of Bern
#########################################
row_offset = -7

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
print('Processing file grl52461-sup-0003-supplementary.csv...')

station = 'Dome C (0-22 kyr BP)P'
uni = 'University of Bern'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_1 = df.iloc[0:183, 0:5].copy() # This will copy columns 0 to 3, for rows 0-246 
#Now add in some constants to standardise the data frame
suppl_1['station'] = station
suppl_1['uni'] = uni

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_1.to_csv(save_filename, index=False)

print(suppl_1.head())
print(suppl_1.tail())

Processing file grl52461-sup-0003-supplementary.csv...
save_filename : data/suppl_Dome C (0-22 kyr BP)P_University of Bern.csv
  Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0    102.83               137.00                   350.11     280.40
1    106.89               268.00                   486.69     274.90
2    107.20               279.00                   501.20     277.90
3    110.25               395.00                   539.65     279.10
4    110.50               404.00                   539.89     281.90

  sigma mean CO2 (ppmv)                station                 uni
0                  1.80  Dome C (0-22 kyr BP)P  University of Bern
1                  0.70  Dome C (0-22 kyr BP)P  University of Bern
2                  0.70  Dome C (0-22 kyr BP)P  University of Bern
3                  1.30  Dome C (0-22 kyr BP)P  University of Bern
4                  1.10  Dome C (0-22 kyr BP)P  University of Bern
    Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
178    567.03             21011.00                 21718.17     186.50
179    569.75             21257.00                 21823.70     184.70
180    572.53             21507.00                 21936.79     186.10
181    576.33             21854.00                 22133.25     185.70
182    578.11             22015.00                 22236.43     184.40

    sigma mean CO2 (ppmv)                station                 uni
178                  0.30  Dome C (0-22 kyr BP)P  University of Bern
179                  1.20  Dome C (0-22 kyr BP)P  University of Bern
180                  0.40  Dome C (0-22 kyr BP)P  University of Bern
181                  1.30  Dome C (0-22 kyr BP)P  University of Bern
182                  0.80  Dome C (0-22 kyr BP)P  University of Bern

***
## supplementary.csv - Vostok - LGGE Grenoble

In [408]:

#########################################
# supplementary.csv  - Vostok - LGGE Grenoble
#########################################
#
# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'Vostok (0-440 kyr BP)'
uni = 'LGGE Grenoble'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

print('Processing file grl52461-sup-0003-supplementary.csv...')
suppl_2 = df.iloc[0:372, 5:9].copy() 

#Depth (m).1	Gasage (EDC3, yr BP).1	Gasage (AICC2012, yr BP).1	CO2 (ppmv).1
# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
suppl_2.rename(columns={'Depth (m).1': 'Depth (m)', 'Gasage (EDC3, yr BP).1': 'Gasage (EDC3, yr BP)', \
                    'Gasage (AICC2012, yr BP).1': 'Gasage (AICC2012, yr BP)', \
                   'CO2 (ppmv).1': 'CO2 (ppmv)' }, inplace=True)


#Now add in some constants to standardise the data frame
suppl_2['sigma mean CO2 (ppmv)'] = '0' # add in missing column
suppl_2['station'] = station
suppl_2['uni'] = uni

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_2.to_csv(save_filename, index=False)

print(suppl_2.head())
print(suppl_2.tail())

save_filename : data/suppl_Vostok (0-440 kyr BP)_LGGE Grenoble.csv
Processing file grl52461-sup-0003-supplementary.csv...
  Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0    149.10              2690.00                              284.70
1    173.10              3897.00                  3661.93     272.70
2    177.40              4124.00                  3746.63     268.10
3    228.60              6735.00                  6449.18     262.20
4    250.30              7873.00                  7567.35     254.50

  sigma mean CO2 (ppmv)                station            uni
0                     0  Vostok (0-440 kyr BP)  LGGE Grenoble
1                     0  Vostok (0-440 kyr BP)  LGGE Grenoble
2                     0  Vostok (0-440 kyr BP)  LGGE Grenoble
3                     0  Vostok (0-440 kyr BP)  LGGE Grenoble
4                     0  Vostok (0-440 kyr BP)  LGGE Grenoble
    Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
367   3340.39            428394.00                              229.70
368   3343.39            433925.00                              199.00
369   3346.51            437580.00                              201.50
370   3346.56            437601.00                              207.80
371   3349.51            438986.00                              205.90

    sigma mean CO2 (ppmv)                station            uni
367                     0  Vostok (0-440 kyr BP)  LGGE Grenoble
368                     0  Vostok (0-440 kyr BP)  LGGE Grenoble
369                     0  Vostok (0-440 kyr BP)  LGGE Grenoble
370                     0  Vostok (0-440 kyr BP)  LGGE Grenoble
371                     0  Vostok (0-440 kyr BP)  LGGE Grenoble

***
## supplementary.csv - Taylor Dome - University of Bern

In [409]:
#########################################
# supplementary.csv - Taylor Dome - University of Bern
#########################################

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'Taylor Dome (19-63 kyr BP)'
uni = 'University of Bern'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_3 = df.iloc[0:66-row_offset, 9:13].copy() # This will copy columns from the main .csv file

# Depth (m).2	tentatively synchronized on EDC3 gasage (yr)	CO2 (ppmv).2	sigma mean CO2 (ppmv).1	station	uni
# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
suppl_3.rename(columns={'Depth (m).2': 'Depth (m)', \
                        'tentatively synchronized on EDC3 gasage (yr)': 'Gasage (EDC3, yr BP)', \
                                           'CO2 (ppmv).2': 'CO2 (ppmv)' , \
                                            'sigma mean CO2 (ppmv).1': 'sigma mean CO2 (ppmv)' }, \
                                            inplace=True) 


#Now add in some constants to standardise the data frame
suppl_3['station'] = station
suppl_3['uni'] = uni

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
suppl_3.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_3.to_csv(save_filename, index=False)

print(suppl_3.head())
print(suppl_3.tail())

save_filename : data/suppl_Taylor Dome (19-63 kyr BP)_University of Bern.csv
  Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0    380.82             18906.00                              190.50
1    382.42             23379.00                              189.10
2    382.76             24011.00                              189.00
3    383.54             25337.00                              187.70
4    385.33             27507.00                              195.20

  sigma mean CO2 (ppmv)                     station                 uni
0                  1.00  Taylor Dome (19-63 kyr BP)  University of Bern
1                  0.50  Taylor Dome (19-63 kyr BP)  University of Bern
2                  1.40  Taylor Dome (19-63 kyr BP)  University of Bern
3                  1.00  Taylor Dome (19-63 kyr BP)  University of Bern
4                  0.50  Taylor Dome (19-63 kyr BP)  University of Bern
   Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
68    465.74             59955.00                              214.90
69    466.48             60431.00                              212.50
70    467.78             61239.00                              204.60
71    470.18             62751.00                              197.40
72    470.92             63205.00                              203.60

   sigma mean CO2 (ppmv)                     station                 uni
68                  0.60  Taylor Dome (19-63 kyr BP)  University of Bern
69                  0.70  Taylor Dome (19-63 kyr BP)  University of Bern
70                  0.40  Taylor Dome (19-63 kyr BP)  University of Bern
71                  0.50  Taylor Dome (19-63 kyr BP)  University of Bern
72                  1.00  Taylor Dome (19-63 kyr BP)  University of Bern

***
## supplementary.csv - Dome C (393-664 kyr BP) - University of Bern

In [410]:
#########################################
# supplementary.csv - Dome C (393-664 kyr BP) - University of Bern
#########################################

row_offset = 7

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'Dome C (393-664 kyr BP)'
uni = 'University of Bern'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_4 = df.iloc[0:329-row_offset, 13:18].copy() # This will copy columns from the main .csv file

# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
#Depth (m).3	Gasage (EDC3, yr BP).2	Gasage (AICC2012, yr BP)	Gasage (AICC2012, yr BP).2	CO2 (ppmv).3	
# sigma mean CO2 (ppmv).2	station	uni
suppl_4.rename(columns={'Depth (m).3': 'Depth (m)', \
                        'Gasage (AICC2012, yr BP).2': 'Gasage (AICC2012, yr BP)', \
                        'Gasage (EDC3, yr BP).2': 'Gasage (EDC3, yr BP)', \
                                           'CO2 (ppmv).3': 'CO2 (ppmv)' , \
                                            'sigma mean CO2 (ppmv).2': 'sigma mean CO2 (ppmv)' }, \
                                            inplace=True) 


#Now add in some constants to standardise the data frame
suppl_4['station'] = station
suppl_4['uni'] = uni

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
#suppl_4.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_4.to_csv(save_filename, index=False)

print(suppl_4.head())
print(suppl_4.tail())

save_filename : data/suppl_Dome C (393-664 kyr BP)_University of Bern.csv
  Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0   2761.85            415717.00                415945.61     276.40
1   2762.89            416193.00                416425.32     271.70
2   2765.08            417191.00                417440.44     273.40
3   2766.18            417698.00                417956.78     271.80
4   2767.33            418245.00                418505.30     274.60

  sigma mean CO2 (ppmv)                  station                 uni
0                  1.60  Dome C (393-664 kyr BP)  University of Bern
1                  1.20  Dome C (393-664 kyr BP)  University of Bern
2                  1.50  Dome C (393-664 kyr BP)  University of Bern
3                  1.70  Dome C (393-664 kyr BP)  University of Bern
4                  1.80  Dome C (393-664 kyr BP)  University of Bern
    Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
317   3057.42            661650.00                661211.80     189.80
318   3058.13            662669.00                662285.95     187.80
319   3058.52            663206.00                662873.78     189.00
320   3059.25            664192.00                663940.73     189.10
321   3059.61            664690.00                664403.27     185.80

    sigma mean CO2 (ppmv)                  station                 uni
317                  0.80  Dome C (393-664 kyr BP)  University of Bern
318                  1.50  Dome C (393-664 kyr BP)  University of Bern
319                  1.00  Dome C (393-664 kyr BP)  University of Bern
320                  1.20  Dome C (393-664 kyr BP)  University of Bern
321                  0.80  Dome C (393-664 kyr BP)  University of Bern

In [411]:
#########################################
# supplementary.csv - Dome C (393-664 kyr BP) - LGGE Grenoble
#########################################

row_offset = 7

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'Dome C (393-664 kyr BP)'
uni = 'LGGE Grenoble'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_5 = df.iloc[0:38-row_offset, 18:23].copy() # This will copy columns from the main .csv file

# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
#REQUIRED HEADINGS
#Depth (m)	Gasage (EDC3, yr BP)	Gasage (AICC2012, yr BP)	CO2 (ppmv)	sigma mean CO2 (ppmv)	station	uni


suppl_5.rename(columns={'Depth (m).4': 'Depth (m)', \
                        'Gasage (EDC3, yr BP).3': 'Gasage (EDC3, yr BP)', \
                        'Gasage (AICC2012, yr BP).3': 'Gasage (AICC2012, yr BP)', \
                        'CO2 (ppmv).4': 'CO2 (ppmv)' , \
                        'sigma mean CO2 (ppmv).3': 'sigma mean CO2 (ppmv)' }, \
                        inplace=True) 


#Now add in some constants to standardise the data frame
suppl_5['station'] = station
suppl_5['uni'] = uni

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
#suppl_4.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_5.to_csv(save_filename, index=False)

print(suppl_5.head())
print(suppl_5.tail())

save_filename : data/suppl_Dome C (393-664 kyr BP)_LGGE Grenoble.csv
  Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0   2700.77            392544.00                392977.15     259.50
1   2702.97            393579.00                394003.69     273.60
2   2705.17            394560.00                394906.10     260.70
3   2713.97            398086.00                398275.13     276.30
4   2718.37            399722.00                399926.16     277.10

  Depth (m).5                  station            uni
0     3026.58  Dome C (393-664 kyr BP)  LGGE Grenoble
1     3030.97  Dome C (393-664 kyr BP)  LGGE Grenoble
2     3036.44  Dome C (393-664 kyr BP)  LGGE Grenoble
3     3040.87  Dome C (393-664 kyr BP)  LGGE Grenoble
4     3043.07  Dome C (393-664 kyr BP)  LGGE Grenoble
   Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
26   2775.57            422374.00                422889.84     274.30
27   2777.77            423491.00                424204.53     270.90
28   2779.97            424604.00                425451.08     273.70
29   2782.17            425678.00                426767.04     257.70
30   2784.37            426953.00                428411.80     254.10

   Depth (m).5                  station            uni
26     3069.52  Dome C (393-664 kyr BP)  LGGE Grenoble
27     3070.16  Dome C (393-664 kyr BP)  LGGE Grenoble
28     3070.62  Dome C (393-664 kyr BP)  LGGE Grenoble
29     3071.33  Dome C (393-664 kyr BP)  LGGE Grenoble
30     3071.72  Dome C (393-664 kyr BP)  LGGE Grenoble

***
## supplementary.csv - Dome C (611-800 kyr BP) - University of Bern

In [412]:
#########################################
# supplementary.csv - Dome C (611-800 kyr BP) - University of Bern
#########################################

row_offset = 7

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'Dome C (611-800 kyr BP)'
uni = 'University of Bern'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_5 = df.iloc[0:258-row_offset, 22:27].copy() # This will copy columns from the main .csv file

# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
#Depth (m).3	Gasage (EDC3, yr BP).2	Gasage (AICC2012, yr BP)	Gasage (AICC2012, yr BP).2	CO2 (ppmv).3	
# sigma mean CO2 (ppmv).2	station	uni
suppl_5.rename(columns={'Depth (m).5': 'Depth (m)', \
                        'Gasage (EDC3, yr BP).4': 'Gasage (EDC3, yr BP)', \
                        'Gasage (AICC2012, yr BP).4': 'Gasage (AICC2012, yr BP)', \
                        'sigma mean CO2 (ppmv).3': 'sigma mean CO2 (ppmv)', \
                                           'CO2 (ppmv).5': 'CO2 (ppmv)' }, \
                                            inplace=True) 


#Now add in some constants to standardise the data frame
suppl_5['station'] = station
suppl_5['uni'] = uni

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
#suppl_4.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_5.to_csv(save_filename, index=False)

print(suppl_5.head())
print(suppl_5.tail())

save_filename : data/suppl_Dome C (611-800 kyr BP)_University of Bern.csv
  Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0   3026.58            611269.00                611555.76     257.80
1   3030.97            616164.00                616298.56     252.60
2   3036.44            623109.00                622946.80     243.30
3   3040.87            630183.00                629768.93     204.40
4   3043.07            635364.00                634879.92     195.00

  sigma mean CO2 (ppmv)                  station                 uni
0                  2.10  Dome C (611-800 kyr BP)  University of Bern
1                  0.60  Dome C (611-800 kyr BP)  University of Bern
2                  2.80  Dome C (611-800 kyr BP)  University of Bern
3                  0.90  Dome C (611-800 kyr BP)  University of Bern
4                  1.50  Dome C (611-800 kyr BP)  University of Bern
    Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
246   3187.87            794608.00                795130.18     199.40
247   3188.23            795202.00                795686.55     195.20
248   3188.98            796467.00                796845.64     189.30
249   3189.33            797099.00                797386.55     188.40
250   3190.08            798512.00                798680.42     191.00

    sigma mean CO2 (ppmv)                  station                 uni
246                  1.70  Dome C (611-800 kyr BP)  University of Bern
247                  2.00  Dome C (611-800 kyr BP)  University of Bern
248                  2.10  Dome C (611-800 kyr BP)  University of Bern
249                  1.40  Dome C (611-800 kyr BP)  University of Bern
250                  2.20  Dome C (611-800 kyr BP)  University of Bern

In [413]:
#########################################
# supplementary.csv - Dome C (611-800 kyr BP) - LGGE Grenoble
#########################################

row_offset = 7

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'Dome C (611-800 kyr BP)'
uni = 'LGGE Grenoble'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_6 = df.iloc[0:54-row_offset, 27:31].copy() # This will copy columns from the main .csv file

# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
#Depth (m).6	Gasage (EDC3, yr BP).5	Gasage (AICC2012, yr BP).5	CO2 (ppmv).6	

suppl_6.rename(columns={'Depth (m).6': 'Depth (m)', \
                        'Gasage (EDC3, yr BP).5': 'Gasage (EDC3, yr BP)', \
                        'Gasage (AICC2012, yr BP).5': 'Gasage (AICC2012, yr BP)', \
                                           'CO2 (ppmv).6': 'CO2 (ppmv)' }, \
                                            inplace=True) 


#Now add in some constants to standardise the data frame
suppl_6['station'] = station
suppl_6['uni'] = uni

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
#suppl_4.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_6.to_csv(save_filename, index=False)

print(suppl_6.head())
print(suppl_6.tail())

save_filename : data/suppl_Dome C (611-800 kyr BP)_LGGE Grenoble.csv
  Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0   3061.71            667435.00                667256.80     178.50
1   3063.98            670124.00                670241.01     189.00
2   3085.78            688035.00                690566.62     234.00
3   3086.88            688751.00                691327.29     235.40
4   3087.98            689444.00                692134.74     241.00

                   station            uni
0  Dome C (611-800 kyr BP)  LGGE Grenoble
1  Dome C (611-800 kyr BP)  LGGE Grenoble
2  Dome C (611-800 kyr BP)  LGGE Grenoble
3  Dome C (611-800 kyr BP)  LGGE Grenoble
4  Dome C (611-800 kyr BP)  LGGE Grenoble
   Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
42   3183.68            789126.00                789716.55     239.30
43   3185.88            791767.00                792311.24     217.30
44   3186.98            793255.00                793846.67     224.20
45   3188.08            794949.00                795454.73     206.70
46   3190.28            798893.00                799032.30     193.60

                    station            uni
42  Dome C (611-800 kyr BP)  LGGE Grenoble
43  Dome C (611-800 kyr BP)  LGGE Grenoble
44  Dome C (611-800 kyr BP)  LGGE Grenoble
45  Dome C (611-800 kyr BP)  LGGE Grenoble
46  Dome C (611-800 kyr BP)  LGGE Grenoble

***
## supplementary.csv - Talos Dome (35-68 kyr BP) - University of Bern

In [414]:
#########################################
# supplementary.csv - Talos Dome (35-68 kyr BP) - University of Bern
#########################################

row_offset = 7

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'Talos Dome (35-68 kyr BP)'
uni = 'University of Bern'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_7 = df.iloc[0:123-row_offset, 31:37].copy() # This will copy columns from the main .csv file

# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
#Depth (m).3	Gasage (EDC3, yr BP).2	Gasage (AICC2012, yr BP)	Gasage (AICC2012, yr BP).2	CO2 (ppmv).3	
# sigma mean CO2 (ppmv).2	station	uni
suppl_7.rename(columns={'Depth (m).7': 'Depth (m)', \
                        'Gasage (EDC3, yr BP).6': 'Gasage (EDC3, yr BP)', \
                        'Gasage (AICC2012, yr BP).6': 'Gasage (AICC2012, yr BP)', \
                                           'CO2 (ppmv).7': 'CO2 (ppmv)', \
                                            'sigma mean CO2 (ppmv).4': 'sigma mean CO2 (ppmv)' \
                                            }, \
                                            inplace=True) 


#Now add in some constants to standardise the data frame
suppl_7['station'] = station
suppl_7['uni'] = uni

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
#suppl_4.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_7.to_csv(save_filename, index=False)

print(suppl_7.head())
print(suppl_7.tail())

save_filename : data/suppl_Talos Dome (35-68 kyr BP)_University of Bern.csv
  Depth (m) Gasage (TALDICE-1a, yr BP) Gasage (EDML1 Sz4, yr BP)  \
0   1009.64                   34166.74                  34164.76
1   1017.91                   35017.60                  34741.72
2   1025.91                   35521.63                  35326.02
3   1033.92                   36159.93                  36028.26
4   1041.89                   36820.90                  36692.96

  Gasage (AICC2012, yr BP) CO2 (ppmv) sigma mean CO2 (ppmv)  \
0                 34359.95     152.65                  4.47
1                 35093.65     176.36                 12.66
2                 35663.78     203.36                 10.37
3                 36258.59     184.04                 16.93
4                 36912.69     204.89                  6.68

                     station                 uni
0  Talos Dome (35-68 kyr BP)  University of Bern
1  Talos Dome (35-68 kyr BP)  University of Bern
2  Talos Dome (35-68 kyr BP)  University of Bern
3  Talos Dome (35-68 kyr BP)  University of Bern
4  Talos Dome (35-68 kyr BP)  University of Bern
    Depth (m) Gasage (TALDICE-1a, yr BP) Gasage (EDML1 Sz4, yr BP)  \
111   1291.43                   65274.44                  65554.77
112   1293.23                   65900.26                  66194.75
113   1295.58                   66736.72                  67030.45
114   1297.93                   67596.86                  67865.98
115   1299.53                   68205.80                  68436.27

    Gasage (AICC2012, yr BP) CO2 (ppmv) sigma mean CO2 (ppmv)  \
111                 66422.36     199.11                  0.90
112                 67065.32     196.79                  0.56
113                 67964.88     202.48                  0.69
114                 68952.11     208.16                  1.29
115                 69672.40     207.65                  1.10

                       station                 uni
111  Talos Dome (35-68 kyr BP)  University of Bern
112  Talos Dome (35-68 kyr BP)  University of Bern
113  Talos Dome (35-68 kyr BP)  University of Bern
114  Talos Dome (35-68 kyr BP)  University of Bern
115  Talos Dome (35-68 kyr BP)  University of Bern

***
## supplementary.csv - EDML (49-115 kyr BP) - University of Bern

In [415]:
#########################################
# supplementary.csv - EDML (49-115 kyr BP) - University of Bern
#########################################

row_offset = 7

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'EDML (49-115 kyr BP)'
uni = 'University of Bern'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_8 = df.iloc[0:165-row_offset, 37:43].copy() # This will copy columns from the main .csv file

# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
#Depth (m).3	Gasage (EDC3, yr BP).2	Gasage (AICC2012, yr BP)	Gasage (AICC2012, yr BP).2	CO2 (ppmv).3	
# sigma mean CO2 (ppmv).2	station	uni
suppl_8.rename(columns={'Depth (m).8': 'Depth (m)', \
                        'Gasage (EDML1 Sz4, yr BP).1': 'Gasage (EDML1 Sz4, yr BP)', \
                        'Gasage (EDC3, yr BP).6': 'Gasage (EDC3, yr BP)', \
                        'Gasage (AICC2012, yr BP).7': 'Gasage (AICC2012, yr BP)', \
                                           'CO2 (ppmv).8': 'CO2 (ppmv)', \
                                            'sigma mean CO2 (ppmv).5': 'sigma mean CO2 (ppmv)' \
                                            }, \
                                            inplace=True) 


#Now add in some constants to standardise the data frame
suppl_8['station'] = station
suppl_8['uni'] = uni

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
#suppl_4.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_8.to_csv(save_filename, index=False)

print(suppl_8.head())
print(suppl_8.tail())

save_filename : data/suppl_EDML (49-115 kyr BP)_University of Bern.csv
  Depth (m) Gasage (EDML1 Sz4, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0   1435.62                  43602.43                 43205.41     193.78
1   1444.57                  44172.99                 43761.69     199.26
2   1447.64                  44363.20                 44024.70     188.62
3   1455.61                  44878.09                 44580.91     199.98
4   1459.65                  45158.15                 44853.29     212.41

  sigma mean CO2 (ppmv) Reference               station                 uni
0                  1.52      2.00  EDML (49-115 kyr BP)  University of Bern
1                  1.56      2.00  EDML (49-115 kyr BP)  University of Bern
2                  3.15      2.00  EDML (49-115 kyr BP)  University of Bern
3                  1.68      2.00  EDML (49-115 kyr BP)  University of Bern
4                  0.69      2.00  EDML (49-115 kyr BP)  University of Bern
    Depth (m) Gasage (EDML1 Sz4, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
153   2252.95                 110584.84                109751.50     251.75
154   2259.91                 111818.09                110768.33     253.99
155   2265.95                 112685.63                111626.22     263.95
156   2271.61                 113400.73                112457.67     268.70
157   2277.98                 114193.50                113429.26     276.15

    sigma mean CO2 (ppmv) Reference               station                 uni
153                  1.91      1.00  EDML (49-115 kyr BP)  University of Bern
154                  1.57      1.00  EDML (49-115 kyr BP)  University of Bern
155                  0.69      1.00  EDML (49-115 kyr BP)  University of Bern
156                  0.58      1.00  EDML (49-115 kyr BP)  University of Bern
157                  0.55      1.00  EDML (49-115 kyr BP)  University of Bern

***
## supplementary.csv - Byrd (19-88 kyr BP) - Oregon State University

In [416]:
#########################################
# supplementary.csv - Byrd (19-88 kyr BP) - Oregon State University
#########################################

row_offset = 7

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'Byrd (19-88 kyr BP)'
uni = 'Oregon State University'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_9 = df.iloc[0:178-row_offset, 43:48].copy() # This will copy columns from the main .csv file

# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
#Depth (m).3	Gasage (EDC3, yr BP).2	Gasage (AICC2012, yr BP)	Gasage (AICC2012, yr BP).2	CO2 (ppmv).3	
# sigma mean CO2 (ppmv).2	station	uni
suppl_9.rename(columns={'Depth (m).9': 'Depth (m)', \
                        'tentatively synchronized on AICC2012 based on synchronization applied in Bereiter et al. (2012)': \
                            'Gasage (AICC2012, yr BP)', \
                                           'CO2 (ppmv).9': 'CO2 (ppmv)', \
                                            'sigma mean CO2 (ppmv).6': 'sigma mean CO2 (ppmv)' \
                                            }, \
                                            inplace=True) 


#Now add in some constants to standardise the data frame
suppl_9['station'] = station
suppl_9['uni'] = uni

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
#suppl_4.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_9.to_csv(save_filename, index=False)

print(suppl_9.head())
print(suppl_9.tail())

save_filename : data/suppl_Byrd (19-88 kyr BP)_Oregon State University.csv
  Depth (m) Age (Ahn et al., 2008) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0   1315.91               19286.00                     #N/A     194.36
1   1332.34               19887.00                     #N/A     191.14
2   1334.20               19978.00                     #N/A     192.54
3   1346.28               20404.00                     #N/A     204.27
4   1353.02               20585.00                 21248.63     195.37

  sigma mean CO2 (ppmv)              station                      uni
0                  0.97  Byrd (19-88 kyr BP)  Oregon State University
1                  0.19  Byrd (19-88 kyr BP)  Oregon State University
2                  0.09  Byrd (19-88 kyr BP)  Oregon State University
3                  0.48  Byrd (19-88 kyr BP)  Oregon State University
4                  0.02  Byrd (19-88 kyr BP)  Oregon State University
    Depth (m) Age (Ahn et al., 2008) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
166   2138.32               87110.00                 87997.84     218.37
167   2138.79               87389.00                 88038.89     222.25
168   2143.57               90266.00                 88430.77     236.19
169   2144.02               90534.00                 88470.14     235.65
170   2144.72               90953.00                 88531.37     242.07

    sigma mean CO2 (ppmv)              station                      uni
166                  0.94  Byrd (19-88 kyr BP)  Oregon State University
167                  1.43  Byrd (19-88 kyr BP)  Oregon State University
168                  2.31  Byrd (19-88 kyr BP)  Oregon State University
169                  2.86  Byrd (19-88 kyr BP)  Oregon State University
170                  4.54  Byrd (19-88 kyr BP)  Oregon State University

***
## supplementary.csv - EDC (9-22 kyr BP) - LGGE Grenoble

In [417]:
#########################################
# supplementary.csv - EDC (9-22 kyr BP) - LGGE Grenoble
#########################################

row_offset = 7

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'EDC (9-22 kyr BP)'
uni = 'LGGE Grenoble'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_10 = df.iloc[0:70-row_offset, 48:53].copy() # This will copy columns from the main .csv file

# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
#Depth (m).3	Gasage (EDC3, yr BP).2	Gasage (AICC2012, yr BP)	Gasage (AICC2012, yr BP).2	CO2 (ppmv).3	
# sigma mean CO2 (ppmv).2	station	uni
suppl_10.rename(columns={'Depth (m).10': 'Depth (m)', \
                         'Gasage (EDC3, yr BP).6': 'Gasage (EDC3, yr BP)', \
                         'Gasage (AICC2012, yr BP).8': 'Gasage (AICC2012, yr BP)', \
                                           'CO2 (ppmv).10': 'CO2 (ppmv)', \
                                            'sigma mean CO2 (ppmv).7': 'sigma mean CO2 (ppmv)' \
                                            }, \
                                            inplace=True) 

#Now add in some constants to standardise the data frame
suppl_10['station'] = station
suppl_10['uni'] = uni

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
#suppl_4.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_10.to_csv(save_filename, index=False)

print(suppl_10.head())
print(suppl_10.tail())

save_filename : data/suppl_EDC (9-22 kyr BP)_LGGE Grenoble.csv
  Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0    346.50              8756.45                  9274.20     256.90
1    346.50              8756.45                  9274.20     261.57
2    355.30              9072.05                  9516.19     258.30
3    376.75              9792.53                 10178.30     265.55
4    376.75              9792.53                 10178.30     258.40

  sigma mean CO2 (ppmv)            station            uni
0                  0.63  EDC (9-22 kyr BP)  LGGE Grenoble
1                  1.27  EDC (9-22 kyr BP)  LGGE Grenoble
2                  0.92  EDC (9-22 kyr BP)  LGGE Grenoble
3                  0.01  EDC (9-22 kyr BP)  LGGE Grenoble
4                  0.24  EDC (9-22 kyr BP)  LGGE Grenoble
   Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
58    548.35             19300.40                 20120.83     188.37
59    552.75             19703.40                 20420.60     188.96
60    555.50             19949.85                 20757.93     189.12
61    557.70             20149.39                 21038.90     189.74
62    578.05             22008.84                 22229.60     185.16

   sigma mean CO2 (ppmv)            station            uni
58                  0.59  EDC (9-22 kyr BP)  LGGE Grenoble
59                  0.56  EDC (9-22 kyr BP)  LGGE Grenoble
60                  0.27  EDC (9-22 kyr BP)  LGGE Grenoble
61                   NAN  EDC (9-22 kyr BP)  LGGE Grenoble
62                  0.77  EDC (9-22 kyr BP)  LGGE Grenoble

***
## supplementary.csv - EDC (125- 153 kyr BP) - LGGE Grenoble

In [418]:
#########################################
# supplementary.csv -  EDC (125- 153 kyr BP)- LGGE Grenoble
#########################################

row_offset = 7

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'EDC (125- 153 kyr BP)'
uni = 'LGGE Grenoble'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_11 = df.iloc[0:46-row_offset, 53:58].copy() # This will copy columns from the main .csv file

# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
#Depth (m).3	Gasage (EDC3, yr BP).2	Gasage (AICC2012, yr BP)	Gasage (AICC2012, yr BP).2	CO2 (ppmv).3	
# sigma mean CO2 (ppmv).2	station	uni
suppl_11.rename(columns={'Depth (m).11': 'Depth (m)', \
                         'Gasage (EDC3, yr BP).7': 'Gasage (EDC3, yr BP)', \
                         'Gasage (AICC2012, yr BP).9': 'Gasage (AICC2012, yr BP)', \
                                           'CO2 (ppmv).11': 'CO2 (ppmv)', \
                                            'sigma mean CO2 (ppmv).8': 'sigma mean CO2 (ppmv)' \
                                            }, \
                                            inplace=True) 

#Now add in some constants to standardise the data frame
suppl_11['station'] = station
suppl_11['uni'] = uni

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
#suppl_4.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_11.to_csv(save_filename, index=False)

print(suppl_11.head())
print(suppl_11.tail())

save_filename : data/suppl_EDC (125- 153 kyr BP)_LGGE Grenoble.csv
  Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0   1669.25            125222.70                124858.67     277.64
1   1674.75            125633.40                125326.00     275.61
2   1674.75            125633.40                125326.00     278.50
3   1677.50            125858.80                125561.33     271.68
4   1680.25            126058.20                125807.67     272.59

  sigma mean CO2 (ppmv)                station            uni
0                  0.12  EDC (125- 153 kyr BP)  LGGE Grenoble
1                  0.83  EDC (125- 153 kyr BP)  LGGE Grenoble
2                  2.25  EDC (125- 153 kyr BP)  LGGE Grenoble
3                  1.26  EDC (125- 153 kyr BP)  LGGE Grenoble
4                  1.19  EDC (125- 153 kyr BP)  LGGE Grenoble
   Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
34   1815.00            140513.80                141093.00     184.07
35   1821.05            141740.20                142449.00     193.07
36   1867.25            150635.70                152007.00     200.60
37   1870.00            151179.20                152578.33     202.96
38   1872.75            151703.40                153135.00     197.17

   sigma mean CO2 (ppmv)                station            uni
34                  4.12  EDC (125- 153 kyr BP)  LGGE Grenoble
35                  1.83  EDC (125- 153 kyr BP)  LGGE Grenoble
36                  1.08  EDC (125- 153 kyr BP)  LGGE Grenoble
37                  2.17  EDC (125- 153 kyr BP)  LGGE Grenoble
38                  1.38  EDC (125- 153 kyr BP)  LGGE Grenoble

***
## supplementary.csv - EDC (12-24 kyr BP) - University of Bern

In [419]:
#########################################
# supplementary.csv - EDC (12-24 kyr BP) - University of Bern
#########################################

row_offset = 7

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'EDC (12-24 kyr BP)'
uni = 'University of Bern'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_12 = df.iloc[0:32-row_offset, 58:63].copy() # This will copy columns from the main .csv file

# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
#Depth (m).3	Gasage (EDC3, yr BP).2	Gasage (AICC2012, yr BP)	Gasage (AICC2012, yr BP).2	CO2 (ppmv).3	
# sigma mean CO2 (ppmv).2	station	uni
suppl_12.rename(columns={'Depth (m).12': 'Depth (m)', \
                        'Gasage (EDC3, yr BP).8': 'Gasage (EDC3, yr BP)', \
                        'Gasage (AICC2012, yr BP).10': 'Gasage (AICC2012, yr BP)', \
                                           'CO2 (ppmv).12': 'CO2 (ppmv)', \
                                            'sigma mean CO2 (ppmv).9': 'sigma mean CO2 (ppmv)' \
                                            }, \
                                            inplace=True) 


#Now add in some constants to standardise the data frame
suppl_12['station'] = station
suppl_12['uni'] = uni

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
#suppl_4.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_12.to_csv(save_filename, index=False)

print(suppl_12.head())
print(suppl_12.tail())

save_filename : data/suppl_EDC (12-24 kyr BP)_University of Bern.csv
  Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0    445.00             12789.00                 12890.31     237.63
1    455.30             13371.00                 13665.23     238.59
2    461.50             13705.00                 14033.38     239.64
3    466.45             13974.00                 14250.63     240.84
4    486.27             15101.00                 15335.65     227.77

  sigma mean CO2 (ppmv)             station                 uni
0                  0.73  EDC (12-24 kyr BP)  University of Bern
1                  2.70  EDC (12-24 kyr BP)  University of Bern
2                  0.62  EDC (12-24 kyr BP)  University of Bern
3                  1.93  EDC (12-24 kyr BP)  University of Bern
4                  2.14  EDC (12-24 kyr BP)  University of Bern
   Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
20    583.60             22190.00                 22595.82     192.16
21    591.70             22687.00                 23120.97     193.59
22    595.70             22938.00                 23435.60     191.50
23    609.28             24143.00                 25171.13     189.96
24    611.50             24382.00                 25396.82     187.07

   sigma mean CO2 (ppmv)             station                 uni
20                  1.66  EDC (12-24 kyr BP)  University of Bern
21                  0.52  EDC (12-24 kyr BP)  University of Bern
22                  2.31  EDC (12-24 kyr BP)  University of Bern
23                  0.44  EDC (12-24 kyr BP)  University of Bern
24                   NAN  EDC (12-24 kyr BP)  University of Bern

***
## supplementary.csv - EDC (105-155 kyr BP) - University of Bern

In [420]:
#########################################
# supplementary.csv -  EDC (105-155 kyr BP)- University of Bern
#########################################

row_offset = 7

# Ref https://stackoverflow.com/questions/61553063/read-csv-file-by-column-number-in-pandas-python
#
station = 'EDC (105-155 kyr BP)'
uni = 'University of Bern'
save_filename = 'data/suppl_' + station + '_' + uni + '.csv'
print('save_filename :', save_filename)

suppl_13 = df.iloc[0:77-row_offset, 63:68].copy() # This will copy columns from the main .csv file

# https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas
#Depth (m).3	Gasage (EDC3, yr BP).2	Gasage (AICC2012, yr BP)	Gasage (AICC2012, yr BP).2	CO2 (ppmv).3	
# sigma mean CO2 (ppmv).2	station	uni
suppl_13.rename(columns={'Depth (m).13': 'Depth (m)', \
                         'Gasage (EDC3, yr BP).9': 'Gasage (EDC3, yr BP)', \
                         'Gasage (AICC2012, yr BP).11': 'Gasage (AICC2012, yr BP)', \
                                           'CO2 (ppmv).13': 'CO2 (ppmv)', \
                                            'sigma mean CO2 (ppmv).10': 'sigma mean CO2 (ppmv)' \
                                            }, \
                                            inplace=True) 

#Now add in some constants to standardise the data frame
suppl_13['station'] = station
suppl_13['uni'] = uni

# Insert new column in position
# https://discuss.codecademy.com/t/can-we-add-a-new-column-at-a-specific-position-in-a-pandas-dataframe/355842
#suppl_4.insert(2,'Gasage (AICC2012, yr BP)',' ') # As this column exists in the supplementary file
		

if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_13.to_csv(save_filename, index=False)

print(suppl_13.head())
print(suppl_13.tail())

save_filename : data/suppl_EDC (105-155 kyr BP)_University of Bern.csv
  Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
0   1454.86            104735.00                104331.23     238.88
1   1460.30            105368.00                104966.45     242.36
2   1465.85            106005.00                105507.15     248.78
3   1471.41            106565.00                105989.87     257.58
4   1476.01            107069.00                106256.38     241.40

  sigma mean CO2 (ppmv)               station                 uni
0                  1.55  EDC (105-155 kyr BP)  University of Bern
1                   NAN  EDC (105-155 kyr BP)  University of Bern
2                  9.96  EDC (105-155 kyr BP)  University of Bern
3                  4.20  EDC (105-155 kyr BP)  University of Bern
4                   NAN  EDC (105-155 kyr BP)  University of Bern
   Depth (m) Gasage (EDC3, yr BP) Gasage (AICC2012, yr BP) CO2 (ppmv)  \
65   1859.38            149174.00                150594.88     202.51
66   1864.56            150137.00                151444.85     202.35
67   1875.90            152324.00                153774.66     198.78
68   1881.07            153346.00                154889.13     196.30
69   1886.95            154543.00                156306.82     189.38

   sigma mean CO2 (ppmv)               station                 uni
65                   NAN  EDC (105-155 kyr BP)  University of Bern
66                  1.86  EDC (105-155 kyr BP)  University of Bern
67                  1.73  EDC (105-155 kyr BP)  University of Bern
68                   NAN  EDC (105-155 kyr BP)  University of Bern
69                   NAN  EDC (105-155 kyr BP)  University of Bern

### Now we concatinate all the supplementary files into one standard format

In [421]:
# We can append (concat) all of the new .csv files  
# Ref: https://www.usepandas.com/csv/append-csv-files
suppl_combined=pd.concat([suppl_3,suppl_4,suppl_5,suppl_6,suppl_7,suppl_8,suppl_9,suppl_10,suppl_11,suppl_12,suppl_13])
# Now add in the source file name, may come in handy later on
suppl_combined['source file'] = 'grl52461-sup-0003-supplementary.csv'

# write out to csv, may not be necessary, but handy for checking data
save_filename = 'data/suppl_combined.csv'
if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
suppl_combined.to_csv(save_filename, index=False)
#print(suppl_combined.head)
#print(suppl_combined.tail)

### Now finally combine both file

In [422]:
all_combined=pd.concat([moesm31_combined,suppl_combined])
# write out to csv, may not be necessary, but handy for checking data
save_filename = 'data/all_combined.csv'
if os.path.isfile(save_filename): os.remove(save_filename) # delete if exists
all_combined.to_csv(save_filename, index=False)
print(all_combined.head)
print(all_combined.tail)

<bound method NDFrame.head of    Depth (m) EDC3_gas_a (yr) Gasage (AICC2012, yr BP) CO2 (ppmv) sigma (ppmv)  \
0    3026.58          611269                               257.8          2.1
1    3030.97          616164                               252.6          0.6
2    3036.44          623109                               243.3          2.8
3    3040.87          630183                               204.4          0.9
4    3043.07          635364                               195.0          1.5
..       ...             ...                      ...        ...          ...
65   1859.38             NaN                150594.88     202.51          NaN
66   1864.56             NaN                151444.85     202.35          NaN
67   1875.90             NaN                153774.66     198.78          NaN
68   1881.07             NaN                154889.13     196.30          NaN
69   1886.95             NaN                156306.82     189.38          NaN

                 station                 uni  \
0                moesm31  University of Bern
1                moesm31  University of Bern
2                moesm31  University of Bern
3                moesm31  University of Bern
4                moesm31  University of Bern
..                   ...                 ...
65  EDC (105-155 kyr BP)  University of Bern
66  EDC (105-155 kyr BP)  University of Bern
67  EDC (105-155 kyr BP)  University of Bern
68  EDC (105-155 kyr BP)  University of Bern
69  EDC (105-155 kyr BP)  University of Bern

                                 source file Gasage (EDC3, yr BP)  \
0   41586_2008_BFnature06949_MOESM31_ESM.csv                  NaN
1   41586_2008_BFnature06949_MOESM31_ESM.csv                  NaN
2   41586_2008_BFnature06949_MOESM31_ESM.csv                  NaN
3   41586_2008_BFnature06949_MOESM31_ESM.csv                  NaN
4   41586_2008_BFnature06949_MOESM31_ESM.csv                  NaN
..                                       ...                  ...
65       grl52461-sup-0003-supplementary.csv            149174.00
66       grl52461-sup-0003-supplementary.csv            150137.00
67       grl52461-sup-0003-supplementary.csv            152324.00
68       grl52461-sup-0003-supplementary.csv            153346.00
69       grl52461-sup-0003-supplementary.csv            154543.00

   sigma mean CO2 (ppmv) Gasage (TALDICE-1a, yr BP) Gasage (EDML1 Sz4, yr BP)  \
0                    NaN                        NaN                       NaN
1                    NaN                        NaN                       NaN
2                    NaN                        NaN                       NaN
3                    NaN                        NaN                       NaN
4                    NaN                        NaN                       NaN
..                   ...                        ...                       ...
65                   NAN                        NaN                       NaN
66                  1.86                        NaN                       NaN
67                  1.73                        NaN                       NaN
68                   NAN                        NaN                       NaN
69                   NAN                        NaN                       NaN

   Reference Age (Ahn et al., 2008)
0        NaN                    NaN
1        NaN                    NaN
2        NaN                    NaN
3        NaN                    NaN
4        NaN                    NaN
..       ...                    ...
65       NaN                    NaN
66       NaN                    NaN
67       NaN                    NaN
68       NaN                    NaN
69       NaN                    NaN

[1629 rows x 14 columns]>
<bound method NDFrame.tail of    Depth (m) EDC3_gas_a (yr) Gasage (AICC2012, yr BP) CO2 (ppmv) sigma (ppmv)  \
0    3026.58          611269                               257.8          2.1
1    3030.97          616164                               252.6          0.6
2    3036.44          623109                               243.3          2.8
3    3040.87          630183                               204.4          0.9
4    3043.07          635364                               195.0          1.5
..       ...             ...                      ...        ...          ...
65   1859.38             NaN                150594.88     202.51          NaN
66   1864.56             NaN                151444.85     202.35          NaN
67   1875.90             NaN                153774.66     198.78          NaN
68   1881.07             NaN                154889.13     196.30          NaN
69   1886.95             NaN                156306.82     189.38          NaN

                 station                 uni  \
0                moesm31  University of Bern
1                moesm31  University of Bern
2                moesm31  University of Bern
3                moesm31  University of Bern
4                moesm31  University of Bern
..                   ...                 ...
65  EDC (105-155 kyr BP)  University of Bern
66  EDC (105-155 kyr BP)  University of Bern
67  EDC (105-155 kyr BP)  University of Bern
68  EDC (105-155 kyr BP)  University of Bern
69  EDC (105-155 kyr BP)  University of Bern

                                 source file Gasage (EDC3, yr BP)  \
0   41586_2008_BFnature06949_MOESM31_ESM.csv                  NaN
1   41586_2008_BFnature06949_MOESM31_ESM.csv                  NaN
2   41586_2008_BFnature06949_MOESM31_ESM.csv                  NaN
3   41586_2008_BFnature06949_MOESM31_ESM.csv                  NaN
4   41586_2008_BFnature06949_MOESM31_ESM.csv                  NaN
..                                       ...                  ...
65       grl52461-sup-0003-supplementary.csv            149174.00
66       grl52461-sup-0003-supplementary.csv            150137.00
67       grl52461-sup-0003-supplementary.csv            152324.00
68       grl52461-sup-0003-supplementary.csv            153346.00
69       grl52461-sup-0003-supplementary.csv            154543.00

   sigma mean CO2 (ppmv) Gasage (TALDICE-1a, yr BP) Gasage (EDML1 Sz4, yr BP)  \
0                    NaN                        NaN                       NaN
1                    NaN                        NaN                       NaN
2                    NaN                        NaN                       NaN
3                    NaN                        NaN                       NaN
4                    NaN                        NaN                       NaN
..                   ...                        ...                       ...
65                   NAN                        NaN                       NaN
66                  1.86                        NaN                       NaN
67                  1.73                        NaN                       NaN
68                   NAN                        NaN                       NaN
69                   NAN                        NaN                       NaN

   Reference Age (Ahn et al., 2008)
0        NaN                    NaN
1        NaN                    NaN
2        NaN                    NaN
3        NaN                    NaN
4        NaN                    NaN
..       ...                    ...
65       NaN                    NaN
66       NaN                    NaN
67       NaN                    NaN
68       NaN                    NaN
69       NaN                    NaN

[1629 rows x 14 columns]>

***

## End